.channelsHeader {
  color: #ab9ba9 !important;
  margin-top: 30px !important;
  font-size: 1.1em !important;
}

.channelsContainer {
  max-height: 165px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.channelItem {
  color: #ab9ba9 !important;
  font-size: 1em !important;
  line-height: 1.5em !important;
}

.activeItem {
  color: #FFF !important;
  background-color: #4c9689 !important;
}

.channelIcon {
  float: none !important;
}

.directMessageIcon {
  color: #38978D;
}

.activeDirectMessageIcon {
  color: #fff;
}

.notificationLabel {
  background-color: #eb4d5c !important;
  border-color: ##eb4d5c !important;
}
