.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 13.75rem !important;
  height: 100%;
  border-radius: 0 !important;
  background-color: #4D394B !important;
}

.navMenuItem {
  color: #ab9ba9 !important;
}

.roomTitle {
  color: #FFF;
  font-size: 1.25em !important;
  margin-bottom: 5px !important;
}

.userIcon {
  float: none !important;
  color: #38978D;
}
